<div class="hero-banner-about">
  <h1>About us</h1>
</div>
<div class="container">
  <div class="main">
    <div class="intro-left">
      <div class="content-start">
        <h2>40 Years in the making</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="intro-right">
      <img class="intro-image" src="https://images.unsplash.com/photo-1591768793355-74d04bb6608f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80" alt="">
    </div>
  </div>

  <div class="last-paragraph">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <h2>Discover our inventory</h2>
  <div class="categories-row">
    <% trucks = Category.find_by(name: "Trucks")  %>
      <div class="inventory-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path trucks.photo.key %>')">
        <%= link_to category_path(trucks.id) do %>
          Trucks
        <% end %>
      </div>
    <% equipment = Category.find_by(name: "Equipment")  %>
      <div class="inventory-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path equipment.photo.key %>')">
        <%= link_to category_path(equipment.id) do %>
          Equipment
        <% end %>
      </div>
    <% parts = Category.find_by(name: "Parts")  %>
      <div class="inventory-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path parts.photo.key %>')">
        <%= link_to category_path(parts.id) do %>
          Parts
        <% end %>
      </div>
    <% trailers = Category.find_by(name: "Trailers")  %>
      <div class="inventory-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path trailers.photo.key %>')">
        <%= link_to category_path(trailers.id) do %>
          Trailers
        <% end %>
      </div>
  </div>
</div>


