<div class="hero-banner-about">
  <h1>About us</h1>
</div>
<div class="container">
  <div class="main">
    <div class="intro-left">
      <div class="content-start">
        <h2>Over 40 years in the business</h2>
        <p>Johnston Equipment started in 1979 in Quesnel, B.C. as a family owned and operated business and remains as such to this day.</p>
        <p>For over 35 years, we specialized in dis-assembly of late model class eight trucks, providing high-quality used parts to dealers, fleets, insurance companies and end-users.</p>
        <p>In 2015, we took the opportunity to pass on the used parts division of our company to Keith Mechanical Services. We now continue to sell heavy trucks, trailers, attachments, equipment, and new aftermarket parts to our valued customers, both within Canada and internationally.</p>
      </div>
    </div>
    <div class="intro-right">
      <img class="intro-image" src="https://res.cloudinary.com/mberthier/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1614230124/IMG_4912_1_pepgaa.jpg" alt="">
    </div>
  </div>

  <div class="last-paragraph">
    <p>You can take a look at our selection of available inventory by following the links below. Otherwise, you can <%= link_to "get in touch", contact_path %> to inquire about items not listed on our website or simply to say hello.</p>
  </div>

  <h2>Discover our inventory</h2>
  <div class="categories-row">
    <% trucks = Category.find_by(name: "Trucks")  %>
      <div class="category-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path trucks.photo.key %>')">
        <%= link_to category_path(trucks.id) do %>
          Trucks
        <% end %>
      </div>
    <% equipment = Category.find_by(name: "Equipment")  %>
      <div class="category-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path equipment.photo.key %>')">
        <%= link_to category_path(equipment.id) do %>
          Equipment
        <% end %>
      </div>
    <% parts = Category.find_by(name: "Parts")  %>
      <div class="category-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path parts.photo.key %>')">
        <%= link_to category_path(parts.id) do %>
          Parts
        <% end %>
      </div>
    <% trailers = Category.find_by(name: "Trailers")  %>
      <div class="category-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path trailers.photo.key %>')">
        <%= link_to category_path(trailers.id) do %>
          Trailers
        <% end %>
      </div>
  </div>
</div>


