<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/mberthier/image/upload/v1606660122/IMG_3661_bfvad7.jpg);">
  <div class="container-home">
    <h1>Get back on the road</h1>
    <p>Cost-effective, used trucks & new heavy <br> trucks parts carefully selected</p>
    <%= link_to categories_path do %>
      <button type="button" class="btn btn-dark btn-lg">See Inventory</button>
    <% end %>
  </div>
</div>

<div class="categories-row">
  <% trucks = Category.find_by(name: "Trucks")  %>
    <div class="inventory-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path trucks.photo.key %>')">
      <%= link_to category_path(trucks.id) do %>
        Trucks
      <% end %>
    </div>
  <% equipment = Category.find_by(name: "Equipment")  %>
    <div class="inventory-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path equipment.photo.key %>')">
      <%= link_to category_path(equipment.id) do %>
        Equipment
      <% end %>
    </div>
  <% parts = Category.find_by(name: "Parts")  %>
    <div class="inventory-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path parts.photo.key %>')">
      <%= link_to category_path(parts.id) do %>
        Parts
      <% end %>
    </div>
  <% trailers = Category.find_by(name: "Trailers")  %>
    <div class="inventory-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path trailers.photo.key %>')">
      <%= link_to category_path(trailers.id) do %>
        Trailers
      <% end %>
    </div>
</div>

<div class="container mt-5">
  <div class="usp">
    <div class="usp-left">
      <div class="usp-image" style="background-image: url(https://images.unsplash.com/photo-1591768793355-74d04bb6608f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80)"></div>
    </div>
    <div class="usp-right">
      <div class="content">
        <h2>Why we rock!</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Velit minus qui vel esse, magnam</p>
        <p>alias sequi inventore expedita totam, est repudiandae, pariatur nam non deserunt iure maiores itaque accusamus. Voluptate!</p>
      </div>
    </div>
  </div>
</div>

<%= render "items/featured", item: @item %>

<div class="parallax"></div>

<div class="testimonials">
  <h2>What others say about us</h2>
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="testimonial">
            <p class="quote">“I can always rely on Johnston Equipment for their high quality parts and trucks”</p>
            <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob"/>
            <p class="job">John Smith, Owner of BC trucks</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial">
            <p class="quote">“I can always rely on Johnston Equipment for their high quality parts and trucks”</p>
            <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob"/>
            <p class="job">John Smith, Owner of BC trucks</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial">
            <p class="quote">“I can always rely on Johnston Equipment for their high quality parts and trucks”</p>
            <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob"/>
            <p class="job">John Smith, Owner of BC trucks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact">
  <h2>Can’t find what you are looking for?</h2>
  <%= link_to contact_path do %>
    <button type="button" class="btn btn-dark btn-lg">Contact Us</button>
  <% end %>
</div>
