<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/mberthier/image/upload/v1606820158/IMG_3449_vvlgqf.jpg);">
  <div class="container-home">
    <h1>Get back on the road</h1>
    <%= link_to categories_path do %>
      <button type="button" class="home-btn">See Inventory</button>
    <% end %>
  </div>
</div>

<div class="categories-row">
  <% trucks = Category.find_by(name: "Trucks")  %>
    <div class="category-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path trucks.photo.key %>')">
      <%= link_to category_path(trucks.id) do %>
        Trucks
      <% end %>
    </div>
  <% equipment = Category.find_by(name: "Equipment")  %>
    <div class="category-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path equipment.photo.key %>')">
      <%= link_to category_path(equipment.id) do %>
        Equipment
      <% end %>
    </div>
  <% parts = Category.find_by(name: "Parts")  %>
    <div class="category-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path parts.photo.key %>')">
      <%= link_to category_path(parts.id) do %>
        Parts
      <% end %>
    </div>
  <% trailers = Category.find_by(name: "Trailers")  %>
    <div class="category-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path trailers.photo.key %>')">
      <%= link_to category_path(trailers.id) do %>
        Trailers
      <% end %>
    </div>
</div>

<div class="container mt-5">
  <div class="usp">
    <div class="usp-left">
      <div class="usp-image" style="background-image: url(https://res.cloudinary.com/mberthier/image/upload/v1606820084/IMG_3566_ibwecs.jpg)"></div>
    </div>
    <div class="usp-right">
      <div class="content">
        <h2>Carefully-sourced parts, trucks & equipment</h2>
        <p>We specialise in selling heavy trucks, trailers, attachments, equipment, and new aftermarket parts to our valued customers.</p>
        <p>We are proudly Canadian and have been supporting both local and international clients with their commercial vehicle needs since 1979.</p>
      </div>
    </div>
  </div>
</div>

<%= render "items/featured", item: @item %>

<div class="parallax"></div>
<div class="parallax-mobile"></div>


<div class="testimonials">
  <h2>What others say about us</h2>
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="testimonial">
            <p class="quote">“I can always rely on Johnston Equipment for their high quality parts and trucks”</p>
            <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob"/>
            <p class="job">John Smith, Owner of BC trucks</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial">
            <p class="quote">“I can always rely on Johnston Equipment for their high quality parts and trucks”</p>
            <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob"/>
            <p class="job">John Smith, Owner of BC trucks</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial">
            <p class="quote">“I can always rely on Johnston Equipment for their high quality parts and trucks”</p>
            <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob"/>
            <p class="job">John Smith, Owner of BC trucks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact">
  <h2>Can’t find what you are looking for?</h2>
  <%= link_to contact_path do %>
    <button type="button" class="btn btn-dark btn-lg">Contact Us</button>
  <% end %>
</div>
