<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://cdn.pixabay.com/photo/2013/11/15/13/57/road-210913_960_720.jpg);">
  <div class="container-home">
    <h1>Get back on the road</h1>
    <p>Cost-effective, used trucks & new heavy <br> trucks parts carefully selected</p>
    <%= link_to inventory_path do %>
      <button type="button" class="btn btn-dark btn-lg">Discover Inventory</button>
    <% end %>
  </div>
</div>

<div class="categories-row">
  <div class="category-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1590504805643-bb1f94cde7fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">Trucks</div>
  <div class="category-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1429772011165-0c2e054367b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">Parts</div>
  <div class="category-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/2523921/pexels-photo-2523921.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">Equipment</div>
  <div class="category-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://cdn.pixabay.com/photo/2017/11/05/14/01/truck-2920533_960_720.jpg);">Attachments</div>
</div>

<div class="container mt-5">
  <div class="usp">
    <div class="usp-left">
      <div class="usp-image" style="background-image: url(https://images.unsplash.com/photo-1591768793355-74d04bb6608f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80)"></div>
    </div>
    <div class="usp-right">
      <div class="content">
        <h2>Why we rock!</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Velit minus qui vel esse, magnam</p>
        <p>alias sequi inventore expedita totam, est repudiandae, pariatur nam non deserunt iure maiores itaque accusamus. Voluptate!</p>
      </div>
    </div>
  </div>
</div>

<div class="featured">
  <h2>Featured items</h2>
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to product_path do %>
            <div class="featured-item">
              <div class="featured-image" style="background-image: url(https://images.pexels.com/photos/2523921/pexels-photo-2523921.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)"></div>
              <div class="content-item">
                <p class="title">2004 Bibeau Dump box</p>
                <p class="description">16'6" Steel dump box c/w pto,pump, tank, tow apron,cab controls,tarp, very good condition</p>
                <p class="price">$13000</p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to product_path do %>
            <div class="featured-item">
              <div class="featured-image" style="background-image: url(https://images.pexels.com/photos/2523921/pexels-photo-2523921.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)"></div>
              <div class="content-item">
                <p class="title">2004 Bibeau Dump box</p>
                <p class="description">16'6" Steel dump box c/w pto,pump, tank, tow apron,cab controls,tarp, very good condition</p>
                <p class="price">$13000</p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to product_path do %>
            <div class="featured-item">
              <div class="featured-image" style="background-image: url(https://images.pexels.com/photos/2523921/pexels-photo-2523921.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)"></div>
              <div class="content-item">
                <p class="title">2004 Bibeau Dump box</p>
                <p class="description">16'6" Steel dump box c/w pto,pump, tank, tow apron,cab controls,tarp, very good condition</p>
                <p class="price">$13000</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div class="parallax"></div>

<div class="testimonials">
  <h2>What others say about us</h2>
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="testimonial">
            <p class="quote">“I can always rely on Johnston Equipement for their high quality parts and trucks”</p>
            <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob"/>
            <p class="job">John Smith, Owner of BC trucks</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial">
            <p class="quote">“I can always rely on Johnston Equipement for their high quality parts and trucks”</p>
            <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob"/>
            <p class="job">John Smith, Owner of BC trucks</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial">
            <p class="quote">“I can always rely on Johnston Equipement for their high quality parts and trucks”</p>
            <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob"/>
            <p class="job">John Smith, Owner of BC trucks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact">
  <h2>Can’t find what you are looking for?</h2>
  <%= link_to contact_path do %>
    <button type="button" class="btn btn-dark btn-lg">Contact Us</button>
  <% end %>
</div>
