<div class="hero-banner-contact">
  <h1>Contact us</h1>
</div>
<div class="contact-main container">
  <div class="left">
    <div>
      <h2>Get in touch</h2>
      <p>Whether you have a question about our items for sale, or you are looking for something specific, we invite you to get in touch. You can fill in the form or give us a call directly.</p>
    </div>
    <div class="contact-info">
      <div class="contact-icon">
        <i class="fas fa-map-marker-alt"></i>
        <p>Quesnel, BC</p>
      </div>
      <div class="contact-icon">
        <i class="fas fa-envelope"></i>
        <p><a href="mailto:mja.berthier@gmail.com">johnston8474@gmail.com</a></p>
      </div>
      <div class="contact-icon">
        <i class="fas fa-phone"></i>
        <p><a href="tel:250-991-2830">(250) 991-2830</a></p>
      </div>
    </div>
  </div>
  <div class="right">
      <h2>Leave us a note</h2>
        <%= simple_form_for @contact do |f| %>
          <%= f.input :name, required: true, class:"w-100" %>
          <br>
          <%= f.input :email, required: true, class:"w-100" %>
          <br>
          <%= f.input :message, as: :text, class:"w-100" %>
          <br>
          <div style="display: none;">
          <%= f.input :nickname, hint: "leave this blank", class:"w-100" %>
          </div>
          <%= f.submit 'Send Message', class: "button" %>
          <br>
        <% end %>
  </div>
</div>
