<div class="featured">
  <h2>Featured items</h2>
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @featured = Item.where(featured: true) %>
        <% @featured.each_with_index do |item, index| %>
          <% if index == 0 %>
            <div class="carousel-item active">
              <%= link_to item_path(item) do %>
                <div class="featured-item">
                  <div class="featured-image" style="background-image: url('<%= cl_image_path item.photos[0].key %>')"></div>
                  <div class="content-item">
                    <p class="title"><%= "#{item.brand} #{item.title}" %></p>
                    <p class="description"><%= item.description %></p>
                    <p class="price">$<%= item.price.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="carousel-item">
              <%= link_to item_path(item) do %>
                <div class="featured-item">
                  <div class="featured-image" style="background-image: url('<%= cl_image_path item.photos[0].key %>')"></div>
                  <div class="content-item">
                    <p class="title"><%= "#{item.brand} #{item.title}" %></p>
                    <p class="description"><%= item.description %></p>
                    <p class="price">$<%= item.price.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
