<div class="container">
  <div class="product">
    <div class="product-left">
      <div class="carousel-mobile">
        <div id="carouselExample1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @item.photos.each_with_index do |photo, index| %>
              <% if index == 0 %>
                <div class="carousel-item active">
                  <div class="modal-image" data-toggle="modal" data-target="#exampleModalCenter" style="background-image: url('<%= cl_image_path @item.photos[0].key %>')"></div>
                </div>
              <% else %>
                <div class="carousel-item">
                  <div class="modal-image" data-toggle="modal" data-target="#exampleModalCenter" style="background-image: url('<%= cl_image_path @item.photos[index].key %>')"></div>
                </div>
              <% end %>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExample1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="img-main" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-image: url('<%= cl_image_path @item.photos[0].key %>')"></div>
        <div class="img-row">
          <% if @item.photos.count >= 4 %>
            <div class="img-sec" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-image: url('<%= cl_image_path @item.photos[1].key %>')"></div>
            <div class="img-sec" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-image: url('<%= cl_image_path @item.photos[2].key %>')"></div>
            <div class="img-sec" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-image: url('<%= cl_image_path @item.photos[3].key %>')"></div>
          <% else %>
            <div class="img-sec" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-image: url(https://res.cloudinary.com/mberthier/image/upload/v1614229357/pexels-pixabay-210881_1_k2zoju.jpg)"></div>
            <div class="img-sec" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-image: url(https://res.cloudinary.com/mberthier/image/upload/v1614229357/pexels-pixabay-210881_1_k2zoju.jpg)"></div>
            <div class="img-sec" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-image: url(https://res.cloudinary.com/mberthier/image/upload/v1614229357/pexels-pixabay-210881_1_k2zoju.jpg)"></div>
          <% end %>
        </div>
    </div>
    <div class="product-right">
      <div class="product-info">
        <p class="product-title"><%="#{@item.year} #{@item.brand} #{@item.title}"%></p>
        <% if  @item.sub_category %>
          <p class="product-tag"><%= @item.sub_category.name%><i class="fa fa-tags" style="font-size: 16px; margin-left: 8px;"></i></p>
        <% end %>
        <p class="product-descritpion"><%= @item.description %></p>
        <p class="product-price">$<%= @item.price.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %></p>
      </div>
      <div class="inquire">
        <h3>Inquire about this item</h3>
        <div class="inquire-cta">
          <a class="btn btn-dark btn-lg btn-lg" style="width: 125px;" href="tel:250-991-2830">Call us</a>
          <a class="btn btn-outline-dark btn-lg" style="width: 125px;" href="mailto:johnston8474@gmail.com">Email us</a>
<!--           <div class="phone"><p><a href="tel:250-991-2830">(250) 991-2830</a></p></div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div id="carouselExample2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @item.photos.each_with_index do |photo, index| %>
            <% if index == 0 %>
              <div class="carousel-item active">
                <div class="modal-image" data-toggle="modal" data-target="#exampleModalCenter" style="background-image: url('<%= cl_image_path @item.photos[0].key %>')"></div>
              </div>
            <% else %>
              <div class="carousel-item">
                <div class="modal-image" data-toggle="modal" data-target="#exampleModalCenter" style="background-image: url('<%= cl_image_path @item.photos[index].key %>')"></div>
              </div>
            <% end %>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExample2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
