<h2 class="mt-5 mb-5 text-center">Select a category</h2>
<div class="categories-row m-4">
  <div class="inventory-square" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/mberthier/image/upload/v1615952317/pexels-sergio-souza-2805321_odbmcz.jpg)">
    <%= link_to items_path do %>
      All
    <% end %>
  </div>
  <div class="inventory-square" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/mberthier/image/upload/v1606300531/mx0ppczvqku0e7exfbxxddr2xjha.jpg)">
    <%= link_to featured_path do %>
      Featured
    <% end %>
  </div>

  <% @categories.each do |category| %>
      <div class="inventory-square" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= cl_image_path category.photo.key %>')">
        <%= link_to category_path(category) do %>
          <%= category.name %>
        <% end %>
      </div>
  <% end %>
</div>
