<div class="hero-banner-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @category.photo.key %>')">
  <h1><%= @category.name %></h1>
</div>

<div class="container">
  <% if @category.items.count == 0 %>
    <p style="text-align: center; margin: 50px 0 50px 0; font-size: 20px;">We don't have any <%= @category.name %> at the moment. Be sure to check back later.</p>
  <% else %>
    <h4 class="mt-5 mb-3">All Products (<%= @category.items.count %>)</h4>
    <div class="row-items">
      <% @category.items.each do |item| %>
        <%= link_to(item_path(item), class: "category-item") do %>
          <div class="category-image" style="background-image: url('<%= cl_image_path item.photos.first.key %>')"></div>
          <div class="content-item">
            <p class="title"><%= "#{item.brand} #{item.title}" %></p>
            <p class="description"><%= item.description.truncate(115, separator: ' ',omission: '... (See More)') %></p>
            <% if item.price == 0 %>
              <p class="price">Contact for pricing></p>
            <% else %>
              <p class="price">$<%= item.price.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="contact">
    <h4 style="margin: 50px 0;">Looking for something specific?</h4>
    <%= link_to contact_path do %>
      <button type="button" class="btn btn-dark btn-lg">Contact Us</button>
    <% end %>
  </div>

</div>

